{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Modifier une entreprise
{% endblock %}

{% block body %}
	<div class="columns">
		<div class="column is-4 mt-6">
			<div class="card m-6">
				<div class="card-image">
					<figure class="image is-6by3">
						{% if logo is not defined or logo == "" %}
							<img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
						{% else %}
							<img src="{{ asset('img/logos/' ~ logo ) }}" alt="Placeholder image">
							<a class="button is-primary" href="">Supprimer la photo</a>
						{% endif %}
					</figure>
				</div>
			</div>
		</div>
		<div class="column is-7 ml-2">
			<h1 class="has-text-centered title is-2 mt-5 ">Modifier une entreprise</h1>

			{{ form_start(societeForm) }}
			{{ form_row(societeForm._token) }}

			<fieldset class="box">
				<legend class="label">Entreprise</legend>

				<div class="columns is-mobile">
					<div class="column is-4">
						{{ form_label(societeForm.societe.nom, null, {'attr': {'class': 'has-text-link'} }) }}
					</div>
					<div class="column is-8">
						{{ form_widget(societeForm.societe.nom, {'attr': {'class': 'input is-link', 'placeholder': 'Nom'}}) }}
					</div>
				</div>

				<div class="columns is-mobile">
					<div class="column is-4">
						{{ form_label(societeForm.societe.raison_social, null, {'attr': {'class': 'has-text-link'} }) }}
					</div>
					<div class="column is-8">
						{{ form_widget(societeForm.societe.raison_social, {'attr': {'class': 'input is-link', 'placeholder': 'Raison sociale'}}) }}
					</div>
				</div>

				<div class="columns is-mobile">
					<div class="column is-4">
						{{ form_label(societeForm.societe.siret, null, {'attr': {'class': 'has-text-link'} }) }}
					</div>
					<div class="column is-8">
						{{ form_widget(societeForm.societe.siret, {'attr': {'class': 'input is-link', 'placeholder': 'Siret'}}) }}
					</div>
				</div>

				<div class="columns is-mobile">
					<div class="column is-4">
						{{ form_label(societeForm.societe.type_entreprise, null, {'attr': {'class': 'has-text-link'} }) }}
					</div>
					<div class="column is-8">
						{{ form_widget(societeForm.societe.type_entreprise, {'attr': {'class': 'input is-link', 'placeholder': 'Type entreprise'}}) }}
					</div>
				</div>

				<div class="columns is-mobile">
					<div class="column is-4">
						{{ form_label(societeForm.societe.capital_social, null, {'attr': {'class': 'has-text-link'} }) }}
					</div>
					<div class="column is-8">
						{{ form_widget(societeForm.societe.capital_social, {'attr': {'class': 'input is-link', 'placeholder': 'Capital social'}}) }}
					</div>
				</div>

				<div class="columns is-mobile">
					<div class="column is-4">
						{{ form_label(societeForm.societe.immat_rcs, null, {'attr': {'class': 'has-text-link'} }) }}
					</div>
					<div class="column is-8">
						{{ form_widget(societeForm.societe.immat_rcs, {'attr': {'class': 'input is-link', 'placeholder': 'Immatriculation RCS'}}) }}
					</div>
				</div>

				<div class="columns is-mobile">
					<div class="column is-4">
						{{ form_label(societeForm.societe.logo, null, {'attr': {'class': 'has-text-link'} }) }}
					</div>
					<div class="column is-8">
						{{ form_widget(societeForm.societe.logo) }}
					</div>
				</div>
			</fieldset>

			<fieldset class="box">
				<legend class="label">Adresse</legend>
				{% for adresse in societeForm.adresse %}

					<div class="columns is-mobile">
						<div class="column is-4">
							{{ form_label(adresse.libelle, null, {'attr': {'class': 'has-text-link'} }) }}
						</div>
						<div class="column is-8">
							{{ form_widget(adresse.libelle, {'attr': {'class': 'input is-link', 'placeholder': 'Libellé'}}) }}
						</div>
					</div>

					<div class="columns is-mobile">
						<div class="column is-4">
							{{ form_label(adresse.rue, null, {'attr': {'class': 'has-text-link'} }) }}
						</div>
						<div class="column is-8">
							{{ form_widget(adresse.rue, {'attr': {'class': 'input is-link', 'placeholder': 'Rue'}}) }}
						</div>
					</div>

					<div class="columns is-mobile">
						<div class="column is-4">
							{{ form_label(adresse.code_postal, null, {'attr': {'class': 'has-text-link'} }) }}
						</div>
						<div class="column is-8">
							{{ form_widget(adresse.code_postal, {'attr': {'class': 'input is-link', 'placeholder': 'Code postal'}}) }}
						</div>
					</div>

					<div class="columns is-mobile">
						<div class="column is-4">
							{{ form_label(adresse.ville, null, {'attr': {'class': 'has-text-link'} }) }}
						</div>
						<div class="column is-8">
							{{ form_widget(adresse.ville, {'attr': {'class': 'input is-link', 'placeholder': 'Ville'}}) }}
						</div>
					</div>
				{% endfor %}
				<div class="columns is-mobile">
					<div class="column is-9"></div>
					<div class="column is-3">
						<a class="button is-small is-link is-light is-3" id="ajouterAdresse">Ajouter une adresse</a>
					</div>
				</div>
			</fieldset>

			<fieldset class="box">
				<legend class="label">Contact</legend>
				{% for contact in societeForm.contact %}
					<div class="columns is-mobile">
						<div class="column is-4">
							{{ form_label(contact.nom_contact, null, {'attr': {'class': 'has-text-link'} }) }}
						</div>
						<div class="column is-8">
							{{ form_widget(contact.nom_contact, {'attr': {'class': 'input is-link', 'placeholder': 'Nom'}}) }}
						</div>
					</div>

					<div class="columns is-mobile">
						<div class="column is-4">
							{{ form_label(contact.prenom_contact, null, {'attr': {'class': 'has-text-link'} }) }}
						</div>
						<div class="column is-8">
							{{ form_widget(contact.prenom_contact, {'attr': {'class': 'input is-link', 'placeholder': 'Prénom'}}) }}
						</div>
					</div>

					<div class="columns is-mobile">
						<div class="column is-4">
							{{ form_label(contact.tel_contact, null, {'attr': {'class': 'has-text-link'} }) }}
						</div>
						<div class="column is-8">
							{{ form_widget(contact.tel_contact, {'attr': {'class': 'input is-link', 'placeholder': 'Téléphone'}}) }}
						</div>
					</div>

					<div class="columns is-mobile">
						<div class="column is-4">
							{{ form_label(contact.email_contact, null, {'attr': {'class': 'has-text-link'} }) }}
						</div>
						<div class="column is-8">
							{{ form_widget(contact.email_contact, {'attr': {'class': 'input is-link', 'placeholder': 'Mail'}}) }}
						</div>
					</div>

					<div class="columns is-mobile">
						<div class="column is-4">
							{{ form_label(contact.poste_contact, null, {'attr': {'class': 'has-text-link'} }) }}
						</div>
						<div class="column is-8">
							{{ form_widget(contact.poste_contact, {'attr': {'class': 'input is-link', 'placeholder': 'Poste'}}) }}
						</div>
					</div>
				{% endfor %}
				<div class="columns is-mobile">
					<div class="column is-9"></div>
					<div class="column is-3">
						<a class="button is-small is-link is-light is-3" id="ajouterContact">Ajouter un contact</a>
					</div>
				</div>
			</fieldset>

			<div class="section columns">
				<div class="column"></div>
				<a class="button is-medium is-link is-light is-3" href="{{path('societe_liste')}}">Annuler</a>
				<div class="column"></div>
				{% if logo is not defined %}
					<button type="submit" class="button is-medium is-link is-light is-3">Créer</button>
				{% else %}
					<button type="submit" class="button is-medium is-link is-light is-3">Modifier</button>
				{% endif %}
				<div class="column"></div>
			</div>
		</div>
		{{ form_end(societeForm) }}
	</div>

	<!-- Fenêtre modal Ajouter un contact -->
	<div id="modalContact" class="modal">
		<div id="modalContactBg" class="modal-background"></div>
		<div class="modal-card">
			<header class="modal-card-head">
				<p class="modal-card-title">Ajouter un contact</p>
				<a id="fermerContact" class="delete" aria-label="close">Annuler</a>
			</header>
			<section
				class="modal-card-body">
				<!-- Content ... -->
				{{ form_start(contactForm) }}
				<div class="columns is-mobile">
					<div class="column is-4">
						{{ form_label(contactForm.nom_contact, null, {'attr': {'class': 'has-text-link'} }) }}
					</div>
					<div class="column is-8">
						{{ form_widget(contactForm.nom_contact, {'attr': {'class': 'input is-link', 'placeholder': 'Nom'}}) }}
					</div>
				</div>

				<div class="columns is-mobile">
					<div class="column is-4">
						{{ form_label(contactForm.prenom_contact, null, {'attr': {'class': 'has-text-link'} }) }}
					</div>
					<div class="column is-8">
						{{ form_widget(contactForm.prenom_contact, {'attr': {'class': 'input is-link', 'placeholder': 'Prénom'}}) }}
					</div>
				</div>

				<div class="columns is-mobile">
					<div class="column is-4">
						{{ form_label(contactForm.tel_contact, null, {'attr': {'class': 'has-text-link'} }) }}
					</div>
					<div class="column is-8">
						{{ form_widget(contactForm.tel_contact, {'attr': {'class': 'input is-link', 'placeholder': 'Téléphone'}}) }}
					</div>
				</div>

				<div class="columns is-mobile">
					<div class="column is-4">
						{{ form_label(contactForm.email_contact, null, {'attr': {'class': 'has-text-link'} }) }}
					</div>
					<div class="column is-8">
						{{ form_widget(contactForm.email_contact, {'attr': {'class': 'input is-link', 'placeholder': 'Mail'}}) }}
					</div>
				</div>

				<div class="columns is-mobile">
					<div class="column is-4">
						{{ form_label(contactForm.poste_contact, null, {'attr': {'class': 'has-text-link'} }) }}
					</div>
					<div class="column is-8">
						{{ form_widget(contactForm.poste_contact, {'attr': {'class': 'input is-link', 'placeholder': 'Poste'}}) }}
					</div>
				</div>
			</section>
			<footer class="modal-card-foot">
				<button type="submit" class="button is-medium is-link is-light is-3">Créer</button>
			</footer>
		</div>
	</div>
	{{ form_end(contactForm) }}
	<!-- Fin de la fenêtre modal -->

	<!-- Fenêtre modal Ajouter une adresse -->
		<div id="modalAdresse" class="modal"> <div id="modalAdresseBg" class="modal-background"></div>
		<div class="modal-card">
			<header class="modal-card-head">
				<p class="modal-card-title">Ajouter une adresse</p>
				<button id="fermerAdresse" class="delete" aria-label="close"></button>
			</header>
			<section
				class="modal-card-body">
				<!-- Content ... -->
				{{ form_start(adresseForm) }}
				<div class="columns is-mobile">
					<div class="column is-4">
						{{ form_label(adresseForm.libelle, null, {'attr': {'class': 'has-text-link'} }) }}
					</div>
					<div class="column is-8">
						{{ form_widget(adresseForm.libelle, {'attr': {'class': 'input is-link', 'placeholder': 'Libellé'}}) }}
					</div>
				</div>

				<div class="columns is-mobile">
					<div class="column is-4">
						{{ form_label(adresseForm.rue, null, {'attr': {'class': 'has-text-link'} }) }}
					</div>
					<div class="column is-8">
						{{ form_widget(adresseForm.rue, {'attr': {'class': 'input is-link', 'placeholder': 'Rue'}}) }}
					</div>
				</div>

				<div class="columns is-mobile">
					<div class="column is-4">
						{{ form_label(adresseForm.code_postal, null, {'attr': {'class': 'has-text-link'} }) }}
					</div>
					<div class="column is-8">
						{{ form_widget(adresseForm.code_postal, {'attr': {'class': 'input is-link', 'placeholder': 'Code postal'}}) }}
					</div>
				</div>

				<div class="columns is-mobile">
					<div class="column is-4">
						{{ form_label(adresseForm.ville, null, {'attr': {'class': 'has-text-link'} }) }}
					</div>
					<div class="column is-8">
						{{ form_widget(adresseForm.ville, {'attr': {'class': 'input is-link', 'placeholder': 'Ville'}}) }}
					</div>
				</div>

			</section>
			<footer class="modal-card-foot">
				<button type="submit" class="button is-medium is-link is-light is-3">Créer</button>
			</footer>
		</div>
	</div>
	{{ form_end(adresseForm) }}
	<!-- Fin de la fenêtre modal -->

	<div id="modal"></div>

{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{asset('js/modal.js')}}"></script>
{% endblock %}
