<div class="titre-general">
<aside class="menu is-size-7 pl-2">
	<p class="menu-label is-size-6">
		{{infoReferentiel.libelle}}
		<!-- On affiche le nom du référentiel sur lequel l'audit est effectué-->
	</p>
	<ul class="menu-list is-size-7">
		{% for chapitre in infoReferentiel.chapitres %}
			<!-- On boucle sur les chapitres qui composent le référentiel sur lequel l'audit est effectué-->
			<li>
				<a id="chapitre_recommandation{{loop.index}}" class="is-size-7">{{chapitre.libelle}}</a>
				<span id="recommandation{{loop.index}}" style="display: none;">
					<ul>
						{% for recommandation in chapitre.recommandations %}
							<!-- On boucle sur les recommandations du chapitre -->
							<li>
								<a href="{{ path('referentiel_modifier', {id:infoReferentiel.id, id_recommandation:recommandation.id})}}" class="aSelected" id="{{recommandation.id}}">{{recommandation.libelle}}</a>
							</li>
						{% endfor %}
					</ul>
				</span>
			</li>
		{% endfor %}

	</ul>
</aside>
</div>
