<div class="titre-general">
	<aside class="menu is-size-7 pl-2">
		<p class="menu-label is-size-6">
			{{audit.referentiel.libelle}}
			<!-- On affiche le nom du référentiel sur lequel l'audit est effectué-->
		</p>
		<ul class="menu-list is-size-7">
			{% for chapitre in audit.referentiel.chapitres %}
				<!-- On boucle sur les chapitres qui composent le référentiel sur lequel l'audit est effectué-->
				<li>
					<a class="is-size-7">{{chapitre.libelle}}</a>
					<ul>
						{% for recommandation in chapitre.recommandations %}
							<!-- On boucle sur les recommandations du chapitre -->
							<li>
								<a href="{{ path('audit_controle', {id:audit.id, id_recommandation:recommandation.id})}}" class="aSelected" id="{{recommandation.id}}">{{recommandation.libelle}}</a>
							</li>
						{% endfor %}
					</ul>
				</li>
			{% endfor %}

		</ul>
	</aside>
</div>
