{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="titre-audit has-text-centered ">
    <h1 class="title is-2">Liste des audits</h1>
</div>

<div class="container is-widescreen is-centered is-vcentered has-text-centered">

    <div class="columns is-vcentered">
        <div class="column">
            <div class="control">
            <input class="input is-large" type="text" placeholder="Nom de l'entreprise" name="rechercheEntreprise" id="rechercheEntreprise">
        </div>
        </div>
        <div class="column is-one-fifth">
            <div class="rows has-text-left">
                <div class="row is-full">
                    <label class="checkbox">
                        <input type="checkbox">
                        Audits en cours
                    </label>
                </div>
                <div class="row is-full">
                    <label class="checkbox">
                        <input type="checkbox">
                        Audits terminées
                    </label>
                </div>
            </div>
        </div>
        <div class="column has-text-left">
            <button class="button is-info is-large"> Rechercher</button>
        </div>
    
    </div>

    <table class="table is-striped is-narrow is-hoverable is-fullwidth tab_audit_liste">
    <thead>
        <tr>
            <th><abbr title="Nom de l'entreprise">Nom de l'entreprise</abbr></th>
            <th><abbr title="Nom de l'audit">Nom de l'audit</abbr></th>
            <th>Référentiel</th>
            <th><abbr title="Auditeur">Auditeur</abbr></th>
            <th><abbr title="Date de l'audit">Date de l'audit</abbr></th>
            <th><abbr title="Dernière modif">Dernière Modif</abbr></th>
            <th><abbr title="Statut">Statut</abbr></th>
            <th><abbr title="Actions">Actions</abbr></th>
        </tr>
    </thead>
    <tbody>
        {% for audit in tous_les_audits %}
            <tr>
            <td>{{audit.societe.nom}}</td>
            <td>{{audit.nom}}</td>
            <td>{{audit.referentiel.libelle}}</td>
            <td>Gaël R.</td>
            <td>{{audit.dateCreation|date("d/m/Y H:i:s", false)}}</td>
            {% if audit.dateModification is not null %}
                <td>{{audit.dateModification|date("d/m/Y H:i:s", false)}}</td>
            {% else %}
                <td> - </td>
            {% endif %}
            <td>{{audit.statut.libelle}}</td>
            {% if audit.statut.libelle == "En cours" %}
                <td><a href="">Reprendre</a>
            {% endif %}
            {% if audit.statut.libelle == "Termine" %}
                <td><a href="">Modifier</a>
            {% endif %}
            {% if audit.statut.libelle == "Remis" %}
                <td><a href="">Consulter</a> - <a href="">Générer PDF</a></td>
            {% endif %}
            
        </tr>
        {% endfor %}
        
    </tbody>
    </table>

    <!-- Bouton pour créer un audit depuis la page liste_audit (pertinent ?)
    <div class="has-text-right">
        <a href=""><button class="button is-info">Créer un audit</button></a>
    </div>
    -->
</div>



{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{asset('js/audit_liste.js')}}"></script>
{% endblock %}