<nav class="navbar is-transparent is-fixed-top" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<div class="navbar-item">
			<div class="buttons ml-2">
				<a class="button is-link is-light" href="{{ path('audit_liste')}}">
					<img src="{{ asset('img/LOGO-DIGISEC-FULL-DETOURE.png') }}" height="50" alt="logo">Digisec
				</a>
			</div>
		</div>
		<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>
	<div id="navbarBasicExample" class="navbar-menu">
		<div
			class="navbar-end">
			<!-- Lien accessible uniquement à un utilisateur connecté -->
			{% if is_granted("IS_AUTHENTICATED_FULLY") %}
				<a class="navbar-item has-text-weight-bold" href="{{ path('audit_liste')}}">
					Accueil
				</a>
				<a class="navbar-item has-text-weight-bold" href="{{ path('societe_liste')}}">
					Entreprises
				</a>
				<a class="navbar-item has-text-weight-bold" href="{{ path('referentiel_liste')}}">
					Référentiels
				</a>
				<a class="navbar-item has-text-weight-bold" href="{{ path('societe_digisec') }}">
					Profil
				</a>
				{% if is_granted("ROLE_ADMIN") %}
				<a class="navbar-item has-text-weight-bold" href="{{ path('app_register') }}">
					Utilisateur
				</a>
				{% endif %}
				<div class="navbar-item mr-2">
					<a class="button is-link is-light" href="{{ path('app_logout') }}">
						<strong>Se déconnecter</strong>
					</a>
				{% endif %}
			</div>
		</div>
	</div>
</nav>
